.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #dcecfc;

    .content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .pomodoro {
            padding: 24px 64px;
            border-radius: 8px;
            background-color: #a3c8fc;
            margin: 0 auto;
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
        }
    }
}