.flash-cards-container {
    max-width: 600px;
    min-width: 600px;
    display: flex;
    gap: 8px;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
    }
}

.flash-card {
    background-color: transparent;
    height: 300px;
    perspective: 1000px;

    &.flipped {
        .flash-card-inner {
            transform: rotateY(180deg);
        }
    }

    .flash-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;

        .card-front,
        .card-back {
            border-radius: 8px;
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility: hidden;
            place-content: center;
        }

        .card-front {
            z-index: 1;
            background-color: antiquewhite;
            font-size: 24px;
            font-weight: bold;

            .question {
                font-size: 24px;
                font-weight: bold;
            }
        }

        .card-back {
            transform: rotateY(180deg);
            background-color: rgb(137, 171, 210);
            color: #fff;
            font-size: 16px;
            font-weight: 600;

            .answer {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .question,
        .answer {
            padding: 8px 16px;
        }
    }
}

.flash-card-controls {
    height: 32px;
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;

    button {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        font-weight: 600;
    }
}

.flash-card-content {
    border: 1px solid #eee;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    gap: 6px;
    flex-direction: column;
}


.finished {
    font-size: 28px;
    font-weight: bolder;
}

.progress-bar {
    border: 1px solid #eee;
    padding: 4px;
    border-radius: 8px;
    position: relative;
    height: 32px;

    .quantity {
        position: absolute;
        right: 12px;
        top: 8px;
    }

    .percentage {
        background-color: rgb(137, 171, 210);
        border-radius: 8px;
        height: 100%;
        text-align: center;
        place-content: center;
        color: #fff;
    }
}