/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: monospace;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

body {
    height: 100vh;
    font-size: 16px;

    .container {
        max-width: 450px;
        text-align: center;
        margin: 0 auto;


        form {
            margin: 24px 0;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            width: 100%;

            button {
                width: 100%;
                background-color: #000;
                color: #fff;
                border-radius: 8px;
                padding-top: 8px;
                padding-bottom: 8px;
                cursor: pointer;

                &:hover,
                &:focus {
                    color: #000;
                    background-color: #fff;
                }

                &:focus {
                    outline: 2px dotted #000;
                    font-weight: bold;
                }
            }

            .date-input {
                position: relative;
                width: 100%;

                input {
                    width: 100%;
                    padding: 8px;
                    border-radius: 8px;

                    &:focus {
                        outline: 2px dotted #000;
                    }
                }

                .material-icons {
                    font-size: 20px;
                    color: #555;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }
        }

        .age-result {
            visibility: hidden;
        }
    }
}