/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: monospace;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

body {
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    width: fit-content;

    .content {
        display: flex;
        gap: 24px;
        align-items: center;
        flex-wrap: wrap;

        input {
            padding: 8px;
            border-radius: 10px;
            width: 100px;
        }

        .custom-dropdown {
            width: 300px;
            height: 100%;

            .dropdown-button {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: space-between;
                background-color: transparent;
                border-radius: 10px;
                padding: 8px 16px;
                cursor: pointer;
                border-width: 1px;

                .dropdown-text {
                    text-align: left;
                }

                .arrow-up {
                    display: none;
                }
            }

            .dropdown-content {
                width: 250px;
                padding: 0;
                position: absolute;
                margin-top: 10px;
                border: 1px solid#000;
                border-radius: 16px;
                flex-direction: column;
                justify-content: left;

                transform: translateY(-10px);
                transition: all 0.3s ease;
                opacity: 0;
                visibility: hidden;

                background-color: #fff;

                &.opened {
                    display: flex;
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }

                .dropdown-item {
                    padding: 16px;
                    border-top: 1px solid#000;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:first-child {
                        border-top: none;
                        border-top-left-radius: 16px;
                        border-top-right-radius: 16px;
                    }

                    &:last-child {
                        border-bottom-left-radius: 16px;
                        border-bottom-right-radius: 16px;
                    }

                    &:hover,
                    &:focus-visible {
                        outline: none;
                        background-color: #000;
                        color: #fff;

                        .selected-icon {
                            svg {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }

        .convert-btn {
            background-color: transparent;
            cursor: pointer;
            border-radius: 10px;
            padding: 8px 24px;
            background-color: #000;
            color: #fff;

            &:hover,
            &:focus {
                background-color: #fff;
                color: #000;
                font-weight: bold;
            }


            &:disabled {
                background-color: grey;
                cursor: not-allowed;

                &:hover,
                &:focus {
                    background-color: grey;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
    }

    .result {
        color: green;
        display: none;
    }

    .error {
        color: red;
        display: none;
    }
}