 .buttonGroup {
     display: flex;
     gap: 16px;

     button {
         background: none;
         outline: none;
         border: none;
         white-space: nowrap;

         &:hover {
             outline: none;
             border: none;
         }
     }

     .activeButton {
         background-color: #4f93fc;
     }
 }